.table {
    &__top, &__check {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &__checkName {
        display: flex;
        flex-direction: column;
    }
    &__checkManage {
        display: flex;
    }
    &__name {
        color: rgb(31, 121, 31);
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
    }
    &__value {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    div {
        border: 1px solid black;
    }
}